<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <section>
            {{quote}}
        </section>
        <footer>
            {{>footer}}
        </footer>
    </body>
</html>